# Ignorar dependências do Composer
/vendor/

# Ignorar arquivos de configuração locais
/config/config.local.php

# Ignorar cache, logs e temporários
*.log
/tmp/
/cache/

# Ignorar arquivos do PHPUnit
/.phpunit.result.cache

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar IDEs
.vscode/
.idea/
